In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_excel('Test.xlsx')
data

,id,name,family,father name,code,section,post,degree,age,date of employ,descript
0,2283691475,جعفر,منصوری,صادق,65340,امور اداری,مدیر بخش امور اداری,فوق لیسانس,44,1379,انتخاب شده در تاریخ 5/1389 به عنوان کارمند نمونه
1,2281479635,جواد,منصوری,صادق,65341,امور اداری,معاونت بخش اداری,لیسانس,46,1379,انتخاب شده در تاریخ 6/1389 به عنوان کارمند نمونه
2,2274569513,صادق,منصوری,نادر,64075,منابع انسانی,مدیر بخش منابع انسانی,فوق لیسانس,65,1370,انتخاب شده در تاریخ 12/1379 به عنوان کارمند نمونه
3,2289736120,اعضم,تهرانی,تیمور,64076,منابع انسانی,معاونت بخش منابع انسانی,لیسانس,63,1371,انتخاب شده در تاریخ 10/1374 به عنوان کارمند نمونه
4,2281496590,کیوان,امیری,مراد,65400,مالی,مدیریت بخش مالی,فوق لیسانس,430,1378,انتخاب شده در تاریخ 8/1391 به عنوان کارمند نمونه
5,2283469237,هدیه,زمانی,میثم,65373,مالی,معاونت بخش مالی,لیسانس,39,1382,انتخاب شده در تاریخ 9/1391 به عنوان کارمند نمونه
6,5412689851,سعیده,امیرساعی,حاتم,67002,امور اداری,کارمند کارگزینی,فوق دیپلم,410,1380,انتخاب شده در تاریخ 9/1386 به عنوان کارمند نمونه
7,2278456329,معصومه,کریمی,مسعود,66443,امور اداری,کارمند کارگزینی,فوق دیپلم,42,1380,انتخاب شده در تاریخ 7/1389 به عنوان کارمند نمونه
8,2272263674,خسرو,حیدری,منصور,62222,منابع انسانی,کارمند بخش منابع انسانی,فوق دیپلم,46,1377,انتخاب شده در تاریخ 2/1388 به عنوان کارمند نمونه
9,2268459318,بهزاد,غلامپور,نصیر,62222,منابع انسانی,کارمند بخش منابع انسانی,فوق دیپلم,550,1370,انتخاب شده در تاریخ 3/1388 به عنوان کارمند نمونه
10,2272286420,مصطفی,کریمی,حیدر,69863,منابع انسانی,کارمند بخش منابع انسانی,فوق دیپلم,51,1374,انتخاب شده در تاریخ 4/1388 به عنوان کارمند نمونه
11,2272265554,محمود,فکری,امیر محمد,62340,منابع انسانی,کارمند بخش منابع انسانی,فوق دیپلم,63,1368,انتخاب شده در تاریخ 5/1388 به عنوان کارمند نمونه
12,2285932657,فرزاد,مجیدی,منصور,74444,پشتبانی,مدیریت بخش پشتیبانی,فوق لیسانس,45,1375,انتخاب شده در تاریخ 4/1377 به عنوان کارمند نمونه
13,2276536318,مجتبی,جباری,کاظم,74201,پشتبانی,کارمند بخش پشتیبانی,لیسانس,-44,1375,انتخاب شده در تاریخ 5/1377 به عنوان کارمند نمونه
14,2277777777,فرهاد,مجیدی,منصور,77777,آموزش,میدریت بخش آموزش,دکترا,47,1372,انتخاب شده در تاریخ 2/1375 به عنوان کارمند نمونه
15,2272764777,مهدی,امیرآبادی,داریوش,63343,آموزش,کارمند بخش آموزش,فوق دیپلم,-46,1372,انتخاب شده در تاریخ 3/1375 به عنوان کارمند نمونه

In [8]:
m=np.mean(data.age)
s=np.std(data.age)
s,m

(172.0947118413288, 115.6875)

In [9]:
for val in data.age:
    if (abs(val-m)/s) > 2:
        print(val ,'is noise')

550 is noise

In [5]:
z_score= [ (d-m)/s for d in data.age]

In [6]:
X=np.where(np.abs(z_score)>2)

In [7]:
X

(array([9], dtype=int64),)

In [8]:
q1 , q3 = np.percentile(data.age, [25,75])

In [9]:
q1,q3

(43.5, 63.5)

In [10]:
iqr=q3-q1

In [12]:
lb= q1-(iqr*3)
ub=q3 + (iqr*3)

In [60]:
for val in data.age:
    if (val>ub) or (val<lb):
        print(val , 'is noise')

430 is noise
410 is noise
550 is noise
-44 is noise
-46 is noise

In [17]:
q1=data.age
out =(data.age['data.age']<(q1-1.5*iqr) or (data.age['data.age']>q3+1.5*iqr))
data_cleaned=data.age.drop(data[out].index)
print("xxxxxxxxxxxx")
print (data_cleaned)
data_cleaned.to_excel("New_Text.xlsx",index=Fals)

KeyError: 'data.age'

In [2]:
data=pd.read_excel('Test2.xlsx')
data

     44
0    46
1    65
2    63
3   430
4    39
5   410
6    42
7    46
8   550
9    51
10   63
11   45
12  -44
13   47
14  -46

In [4]:
q1=data['signal'].quantile(.25)
q3=data['signal'].quantile(.75)
iqr=q3-q1
out =(data['signal']<(q1-1.5*iqr) or (data['signal']>q3+1.5*iqr))
data_cleaned=data.drop(data[out].index)
print("xxxxxxxxxxxx")
print (data_cleaned)
data_cleaned.to_excel("New_Text.xlsx",index=Fals)

KeyError: 'signal'

In [10]:
data_l={'dataage':[data.age]}
data_l

{'dataage': [0      44
  1      46
  2      65
  3      63
  4     430
  5      39
  6     410
  7      42
  8      46
  9     550
  10     51
  11     63
  12     45
  13    -44
  14     47
  15    -46
  Name: age, dtype: int64]}

In [11]:
df=pd.DataFrame(data_l)
q1 , q3 = np.percentile(data.age, [25,75])
iqr=q3-q1
out =(df['dataage']<(q1-1.5*iqr) or (df['dataage']>q3+1.5*iqr))
df_cleaned=  df.drop(df[out].index)
print("داده های تمیز شده")
print(df_cleaned)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().